/* CSS HEX 
--white: #ffffffff;
--honeydew: #e9fae3ff;
--honeydew-2: #dee8d5ff;
--pale-silver: #d5c7bcff;
--lilac-luster: #ac92a6ff;
--black-coral: #545f66ff;
--cadet-grey: #829399ff;
--light-cyan: #d0f4eaff;
--tea-green: #e8fcc2ff;
--middle-green-yellow: #b1cc74ff; */
/* font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
 */



 h1{font-family: 'Oswald', sans-serif;}
 h3{font-size: 10px}

.disco {font size: 1000vw;}
.content{padding: 20px; }

a{color:#ffffffff;
 }


h1 { font-family: 'Oswald', sans-serif;
color:#545f66ff;}

body {

  background-color :#d5c7bcff;
 font-family: 'Poppins', sans-serif;
  padding-top: 200px
}
body{ padding-left: 200px }
