/* CSS HEX
--rich-black-fogra-29: #031926ff;
--metallic-seaweed: #468189ff;
--green-sheen: #77aca2ff;
--opal: #9dbebbff;
--champagne: #f4e9cdff;

	CSS HEX
--aquamarine: #73fbd3ff;
--fluorescent-blue: #44e5e7ff;
--vivid-sky-blue: #59d2feff;
--united-nations-blue: #4a8fe7ff;
--blue-crayola: #5c7affff;
 */

/* above taken form coolers 
 */

 /* :root {
	--color-1: #c8b029;
	--color-2: #7a72e5;
	--color-3: #145e98;
	--color-4: #ab5797;
	--color-5: #dad0c0;
	--color-6: #2b2a5c;
  }
   */

   /* https://colorswall.com/palette/28633/ */