
.weeks{
	font-size: 3vw ;
	color:#031926ff;
	background-color: #5c7affff;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	border-radius: 15px;
	border-width: 15 ;
}
/* 1,4,7,10,13 */
.week-1-13 {
	font-size: 1vw ;
	color:#031926ff;
	background-color: rgb(106, 165, 243);
	padding-left: 150px;
	padding-right: 150px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 20px;
	border-width: 10 ;
	width: 33%;
	margin-right: 2px;

}
.week-10 {
	font-size: 1vw ;
	color:#031926ff;
	background-color: rgb(106, 165, 243);
	padding-left: 160px;
	padding-right: 150px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 20px;
	border-width: 10 ;
	width: 33%;
	margin-right: 2px;

}
.week-7 {
	font-size: 1vw ;
	color:#031926ff;
	background-color: rgb(106, 165, 243);
	padding-left: 140px;
	padding-right: 150px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 20px;
	border-width: 10 ;
	width: 33%;
	margin-right: 2px;

}
.week-13 {
	font-size: 1vw ;
	color:#031926ff;
	background-color: rgb(106, 165, 243);
	padding-left: 120px;
	padding-right: 150px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 20px;
	border-width: 10 ;
	width: 33%;
	margin-right: 2px;

}
/* 2,5,8 */
.week-2-14{
	font-size: 1vw ;
	color:#031926ff;
	background-color:#44e5e7ff;
	padding-left: 150px;
	padding-right: 150px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 20px;
	border-width: 10 ;
	width: 33.3%;
	
}
.week-11{
	font-size: 1vw ;
	color:#031926ff;
	background-color:#44e5e7ff;
	padding-left: 140px;
	padding-right: 150px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 20px;
	border-width: 10 ;
	width: 33.3%;
	
}
.week-14{
	font-size: 1vw ;
	color:#031926ff;
	background-color:#44e5e7ff;
	padding-left: 125px;
	padding-right: 150px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 20px;
	border-width: 10 ;
	width: 33.3%;
	
}
/* 3,6,9,12,15 */
.week-3-15{
	font-size: 1vw ;
	color:#031926ff;
	background-color: #59d2feff;
	padding-left: 150px;
	padding-right: 150px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 20px;
	border-width: 10 ;
	width: 33%;
	margin-left: 2px;

}
.week-6{
	font-size: 1vw ;
	color:#031926ff;
	background-color: #59d2feff;
	padding-left: 170px;
	padding-right: 150px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 20px;
	border-width: 10 ;
	width: 33%;
	margin-left: 2px;

}
.week-12and15{
	font-size: 1vw ;
	color:#031926ff;
	background-color: #59d2feff;
	padding-left: 130px;
	padding-right: 150px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 20px;
	border-width: 10 ;
	width: 33%;
	margin-left: 2px;

}

.project-1 {
	font-size: 1vw ;
	color:#031926ff;
	background-color:	#145e98;
	padding-left: 150px;
	padding-right: 150px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 20px;
	border-width: 10 ;
	width: 33%;
	margin-right: 2px;

}

h1{
	font-family: 'Martel' ;
	
}
a{
	color:  #f4e9cdff
}
body {

	padding:50px ;
	color: #031926ff;
	background-color: #9dbebbff;
	font-family: 'Cardo', serif;
}
p{
	color: #000
}
#content {

	font-family: 'Martel';
	padding: 5%;

}

