

	


    /* https://www.urbanfonts.com/fonts/Stone_Walls.font */
    /* font was taken from this website */
@font-face {
    font-family: 'Stonewalls';
    src: URL('StoneWalls.ttf') format('truetype');
  }

#content {

	font-family: 'Stonewalls';
	padding: 3%;

}

body {


	padding:3% ;
	color: #ab5797 ;
	background-color: #145e98 ;
    font-family: 'Stonewalls';
    font-size: 120%;
}

p{
	color: rgb(200, 176, 41);
}
a{
	color:#ab5797
}

.week-1-13 {
	font-size: 1vw ;
	color:#031926ff;
	background-color: rgb(106, 165, 243);
	padding-left: 150px;
	padding-right: 150px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 20px;
	border-width: 10 ;
	width: 33%;
    margin-right: 2px;
}

.week-2-14{
	font-size: 1vw ;
	color:#031926ff;
	background-color:#44e5e7ff;
	padding-left: 150px;
	padding-right: 150px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 20px;
	border-width: 10 ;
	width: 33.3%;
}

.week-3-15{
	font-size: 1vw ;
	color:#031926ff;
	background-color: #59d2feff;
	padding-left: 150px;
	padding-right: 150px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 20px;
	border-width: 10 ;
	width: 33%;
	margin-left: 2px;

}