


/* div class based on id */

body {

	font-family: 'arial';
	color: #592C5F; 
	padding: 5vw;
	/*position: absolute;*/
	/*background-color: rgb(0,0,255);*/

	/*display: flex;*/
	/* This centers our sketch horizontally. */

	justify-content: center;

	/* This centers our sketch vertically. */
	align-items: center;

}

h1{
	/*color:rgb(0,0,255);*/
}

p {

	/*color: 999 !important;*/
	color: #000 !important; 
	/*text*/

}