/* div class based on id */

#content {

	font-family: 'VT323', monospace;
	padding: 0.1%;

}


p {

	color: black !important; 
	font-family: 'VT323', monospace;


}

body {
	background-color: #008080;
}

h1 {

	color: #ffffff !important; 
	font-family: 'VT323', monospace;
	text-align: center;
	background-image: url("C:maryambinsuloom/Desktop/   /Workshop/Tangible-Computing-2020F/template/header.png");
	

}

h2 {
	color: #dfe300 !important; 
	font-family: 'VT323', monospace;
	font-size: 30px;
}

h3 {
	font-family: 'VT323', monospace;
}

ul{
	font-family: 'VT323', monospace;
}

.text-block {
  position: absolute;
  bottom: 200px;
  left: 26px;
  color: black;
  font-family: 'VT323', monospace;
  padding-left: 50px;
  padding-right: 50px;
  
}

.weeks {
	position: absolute;
  top: 100px;
  right: 60px;
font-size: 30px;
text-align: left;
color: #dfe300;
}

.weeks2 {
	position: absolute;
  top: 65px;
  left: 100px;
font-size: 25px;
text-align: right;
}

.icons
{
	position: absolute;
  top: 43px;
  right: 110px;
}

.icons2
{
	position: absolute;
  top: -45px;
  right: 110px;
}

h5 {
	color: #ffffff !important; 
	font-family: 'VT323', monospace;
	font-size: 80px;
	margin: -18px;
    padding: 5px;
    margin-left: 5px;
}

.c1 {

	position: absolute;
  top: 220px;
  left: 110px;
  color: black;
  font-family: 'VT323', monospace;
  padding-left: 50px;
  padding-right: 50px;
}

h6 {
	color: #dfe300 !important; 
	font-family: 'VT323', monospace;
	font-size: 40px;
	padding: 1px;
	margin: 5px;
	padding: 5px;
}

#weekcontent {

padding: 1%;
padding-top: -5%px;

}

.gohome {
	font-family: 'VT323', monospace;
	text-align: left;
	position: absolute;
	top: 20px;
	right: 50px;
	font-size: 30px;

}

#intropara{

	background-image: url("https://i.pinimg.com/originals/78/dd/32/78dd32a5fab8fba36827d4abca79eda7.gif");
	
	background-repeat: no-repeat;
	
	background-size: 400px; /*or contain */
	padding: 70px;
	
}	
.textbg{
	position:relative; 
	width:600px;
} 
/* .absolute-text{
	position: absolute;
  bottom: 310px;
  left: 35px;
  color: black;
  font-family: 'VT323', monospace;
padding:10px 20px; width:100%; text-align:center;} 

.absolute-text a{font-size:16px; color:#b92b27;} */

.custom {
	cursor: url("https://thumbs.gfycat.com/GenuineBadBagworm-max-1mb.gif"), auto;
  }

  .goback {
	font-family: 'VT323', monospace;
	text-align: left;
	position: absolute;
	top: 90px;
	right: 121px;
  }
  .next {
	font-family: 'VT323', monospace;
	text-align: left;
	position: absolute;
	top: 90px;
	right: 20px;
  }

  .text-block1 {
	position: absolute;
	top: 200px;
	left: 30px;
	font-size: x-large;
	color: black;
	font-family: 'VT323', monospace;
	padding-left: 50px;
	padding-right: 50px;
	
  }

  .text-block2 {
	position: absolute;
	top: 200px;
	left: 240px;
	font-size: x-large;
	color: black;
	font-family: 'VT323', monospace;
	padding-left: 50px;
	padding-right: 50px;
	
  }
  .text-block3 {
	position: absolute;
	top: 200px;
	left: 440px;
	font-size: x-large;
	color: black;
	font-family: 'VT323', monospace;
	padding-left: 50px;
	padding-right: 50px;
	
  }
  .text-block4 {
	position: absolute;
	top: 200px;
	left: 640px;
	font-size: x-large;
	color: black;
	font-family: 'VT323', monospace;
	padding-left: 50px;
	padding-right: 50px;
	
  }
  .text-block5 {
	position: absolute;
	top: 360px;
	left: 30px;
	font-size: x-large;
	color: black;
	font-family: 'VT323', monospace;
	padding-left: 50px;
	padding-right: 50px;
  }
  .text-block6 {
	position: absolute;
	top: 360px;
	left: 240px;
	font-size: x-large;
	color: black;
	font-family: 'VT323', monospace;
	padding-left: 50px;
	padding-right: 50px;
  }
  .text-block7 {
	position: absolute;
	top: 360px;
	left: 440px;
	font-size: x-large;
	color: black;
	font-family: 'VT323', monospace;
	padding-left: 50px;
	padding-right: 50px;
  }
  .backtow2 {
	position: absolute;
	top: 130px;
	right: 20px;
  }
  .text-block8 {
	position: absolute;
	top: 50px;
	right: 25px;
	font-size: x-large;
	color: black;
	font-family: 'VT323', monospace;
	padding-left: 50px;
	padding-right: 50px;
  }
  .text-block9 {
	position: absolute;
	top: 360px;
	left: 640px;
	font-size: x-large;
	color: black;
	font-family: 'VT323', monospace;
	padding-left: 50px;
	padding-right: 50px;
  }
  .text-block10 {
	position: absolute;
	top: 360px;
	left: 800px;
	font-size: x-large;
	color: black;
	font-family: 'VT323', monospace;
	padding-left: 50px;
	padding-right: 50px;
  }
  .text-block11 {
	position: absolute;
	top: 60px;
	left: 100px;
	font-size: large;
	color: black;
	font-family: 'VT323', monospace;
	padding-left: 10px;
	padding-right: 10px;
  }

.dropbtn {
	background-color: navy;
	color: white;
	font-family: 'VT323', monospace;
	padding: 5px;
	font-size: 20px;
	border: none;
	cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
	background-color: yellow;
	color: black;
  }
  
  .dropdown {
	position: relative;
	display: inline-block;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #d3d3d3;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	font-family: 'VT323', monospace;
  }
  
  .dropdown-content a:hover {
	background-color: #e35f5f;
	color: white;
	}
  
  .show {
	  display:block;
	}

  .projectdrop {
	  position: absolute;
	  right: 230px;
	  top: 135px;
  }