/* div class based on id */

#content {

	font-family: 'VT323', monospace;
	padding: 0.1%;

}


p {

	color: black !important; 
	font-family: 'VT323', monospace;

}

body {
	background-color: #DCE3DA;
	/*ffe8d0*/
}

h1 {

	color: #E39EDB !important; 
	font-family: 'VT323', monospace;
	text-align: center;
	background-image: url("C:maryambinsuloom/Desktop/   /Workshop/Tangible-Computing-2020F/template/header.png");
	

}

h2 {
	color: #A8BDF7 !important; 
	font-family: 'VT323', monospace;
	font-size: 30px;
}

h3 {
	font-family: 'VT323', monospace;
}

ul{
	font-family: 'VT323', monospace;
}

.text-block {
	position: relative;
	top: -20px;
	left: 10px;
	color: black;
	font-family: 'VT323', monospace;
	padding-left: 5px;
	padding-right: 5px;
}

.weeks {
	position: absolute;
  top: 100px;
  right: 60px;
font-size: 30px;
text-align: left;
color: #dfe300;
}

.weeks2 {
	position: absolute;
  top: 65px;
  left: 100px;
font-size: 25px;
text-align: right;
}

.icons
{
	position: absolute;
  top: 43px;
  right: 110px;
}

.icons2
{
	position: absolute;
  top: -45px;
  right: 110px;
}

h5 {
	color: #E39EDB !important; 
	font-family: 'VT323', monospace;
	font-size: 80px;
	margin: -18px;
    padding: 5px;
    margin-left: 5px;
}

.c1 {

	position: absolute;
  top: 205px;
  left: 105px;
  color: black;
  font-family: 'VT323', monospace;
  padding-left: 50px;
  padding-right: 50px;
}

h6 {
	color: #A8BDF7 !important; 
	font-family: 'VT323', monospace;
	font-size: 40px;
	padding: 1px;
	margin: 5px;
	padding: 5px;
}

#weekcontent {

padding: 1%;
padding-top: -5%px;

}

.gohome {
	font-family: 'VT323', monospace;
	text-align: left;
	position: absolute;
	top: 20px;
	right: 50px;
	font-size: 30px;

}

.textbg{
	position:relative; 
	width:600px;
	bottom: 10px;
  left: 5px;

}
.textbg2{
	position: absolute; 
	width:600px;
	bottom: 10px;
  left: 5px;

}
