/*

font-family: 'ABeeZee', sans-serif;
font-family: 'Crimson Text', serif; 
*/

/*
--royal-blue-dark: #001853ff;
--english-violet: #3b3355ff;
--medium-turquoise: #55dde0ff;
--blue-bell: #998fc7ff;
--tufts-blue: #1a8fe3ff;

*/

a{
	font-family: 'Crimson Text', serif;
	color: #55dde0ff;

}

h1 {
	font-family: 'Crimson Text', serif;  
	padding: 100px;
	color: #55dde0ff;
}

h2{
	font-family: 'Crimson Text', serif;  
	padding: 25px;
	color: #001853ff;
}

h3 {
	font-family: 'Crimson Text', serif;  
	padding: 100px;
	color: #55dde0ff;
}

body {

	font-family: 'ABeeZee', sans-serif; 

    padding: 500px;
 	color: #001853ff;
 	background-color: #998fc7ff;
}


