/*

font-family: 'ABeeZee', sans-serif;
font-family: 'Crimson Text', serif; 
*/

/*
--royal-blue-dark: #001853ff;
--english-violet: #3b3355ff;
--medium-turquoise: #55dde0ff;
--blue-bell: #998fc7ff;
--tufts-blue: #1a8fe3ff;
--minion-yellow: #fde74cff;
--dark-spring-green: #04724dff;

*/

a{
	font-family: 'Crimson Text', serif;
	color: #001853ff;
	font-size: 25px;

}

h1 {
	font-family: 'Crimson Text', serif;  
	padding: 10px;
	color: #998fc7ff;
	font-size: 7vw;
	
}

h2{
	font-family: 'Crimson Text', serif;  
	padding: 5px;
	color: #001853ff;
	font-size: 30px;
}

p{
	font-family: 'ABeeZee', sans-serif;  
	padding: 5px;
	color: #04724dff;
	font-size: 20px;
}

div{

	padding: 10px;
	border: solid black;
}

h3 {
	font-family: 'ABeeZee', sans-serif; 
	padding: 20px;
	color: #04724dff;
	font-size: 15px;

}

h4 {
	font-family: 'ABeeZee', sans-serif;  
	padding: 20px;
	color: #04724dff;
	font-size: 15px;

}

body {

    padding: 300px;
 	background-color: #55dde0ff;
}
