body{
	font-family: Arial,"Helvetica Neue","Noto Sans",sans-serif;
	font-size: 12pt;
	color: #161616;
}
a{
	cursor: pointer;
	color: #be9198;
}
.header{
	background-color: #ffffff;
	max-width: 100%;
	padding: 0px;
	margin: 0px;
}
.navbar-brand img{
	max-height: 48px;
}
.header .navbar .dropdown-menu{
	right: 0px !important;
	left: auto;
}
.profile-image{
	border: 2px solid #eee;
	border-radius: 50%;
	max-height: 32px;
	max-width: 32px;
}
.navbar-nav .nav-item a.nav-link span.fa{
	font-size: 20px;
}

.dropdown-toggle.dropdown-no-caret::after{
	display: none !important;
}

.w-33 {
	width: 33.333% !important;
}
.w-66 {
	width: 66.666% !important;
}

@media (min-width: 576px) {
	.w-sm-0 {
		width: 0px !important;
	}
	.w-sm-25 {
		width: 25% !important;
	}
	.w-sm-33 {
		width: 33.333% !important;
	}
	.w-sm-50 {
		width: 50% !important;
	}
	.w-sm-66 {
		width: 66.666% !important;
	}
	.w-sm-75 {
		width: 75% !important;
	}
	.w-sm-100 {
		width: 100% !important;
	}
}

@media (min-width: 768px) {
  .w-md-0 {
		width: 0px !important;
	}
	.w-md-25 {
		width: 25% !important;
	}
	.w-md-33 {
		width: 33.333% !important;
	}
	.w-md-50 {
		width: 50% !important;
	}
	.w-md-66 {
		width: 66.666% !important;
	}
	.w-md-75 {
		width: 75% !important;
	}
	.w-md-100 {
		width: 100% !important;
	}
}

@media (min-width: 992px) {
	.w-lg-0 {
		width: 0px !important;
	}
	.w-lg-25 {
		width: 25% !important;
	}
	.w-lg-33 {
		width: 33.333% !important;
	}
	.w-lg-50 {
		width: 50% !important;
	}
	.w-lg-66 {
		width: 66.666% !important;
	}
	.w-lg-75 {
		width: 75% !important;
	}
	.w-lg-100 {
		width: 100% !important;
	}
}

@media (min-width: 1200px) {
	.w-xl-0 {
		width: 0px !important;
	}
	.w-xl-25 {
		width: 25% !important;
	}
	.w-xl-33 {
		width: 33.333% !important;
	}
	.w-xl-50 {
		width: 50% !important;
	}
	.w-xl-66 {
		width: 66.666% !important;
	}
	.w-xl-75 {
		width: 75% !important;
	}
	.w-xl-100 {
		width: 100% !important;
	}
}



.custom-search-form {
	
}

.custom-search-form .form-group {
	padding: 2px 12px;
	border-radius: 64px;
	background-color: #113c55;
}

.custom-search-form .search-field {
	background-color: transparent;
	border: none;
}

.custom-search-form .search-field:hover,
.custom-search-form .search-field:focus,
.custom-search-form .search-button:hover,
.custom-search-form .search-button:focus {
	border: none !important;
	box-shadow: none;
	outline: none;
}
.custom-search-form{
	position: relative;
}
.custom-search-form .search-field{
	width: 100%;
	padding-right: 36px;
}

.custom-search-form .search-button {
	position: absolute;
	right: 32px;
	top: 50%;
	transform: translateY(-50%);
}

.custom-search-form .search-field:focus,
.custom-search-form .search-field:not(:placeholder-shown){
	color: #ddd;
}

.custom-search-form .search-button::placeholder {
	color: #577587;
}

.custom-search-form .search-button{
	padding: none;
	padding: 0px;
}
.custom-search-form .search-button span{
	font-size: 150%;
	color: #f7931e;
}


.recruiters .recruiter{
	border: 2px solid #e5e5e5;
	margin-left: 0px;
	margin-right: 0px;
	padding: 0px;
}

.recruiters .recruiter:hover{
	border: 2px solid #f7931e;
}

.recruiters .recruiter .recruiter-profile .recruiter-thumb{
	max-height: 256px;
	max-width: 256px;
	max-width: 100%;
	border-radius: 50%;
}
.recruiters .recruiter .recruiter-profile .mark-favourite{
	position: absolute;
	top: 75%;
	left: 75%;
	border: 0.15em solid #89a3b2;
	border-radius: 50%;
	background-color: #fff;
}

.recruiters .recruiter ul{
	font-weight: bold;
}

.recruiters .recruiter:hover .recruiter-profile .mark-favourite{
	border: 0.15em solid #f7931e;
}

.recruiters .recruiter .recruiter-profile .mark-favourite .marked,
.recruiters .recruiter .recruiter-profile .mark-favourite .unmarked{
	display: inline-block;
	vertical-align: center;
	text-align: center;
	font-size: 16px;
	padding: 2px;
	line-height: 22px;
	width: 22px;
	height: 22px;
	color: #89a3b2;
	box-sizing: content-box;
}

.recruiters .recruiter:hover .recruiter-profile .mark-favourite .marked,
.recruiters .recruiter:hover .recruiter-profile .mark-favourite .unmarked{
	color: #f7931e;
}

.recruiters .recruiter .recruiter-profile .mark-favourite .marked{
	display: none;
}

.recruiters .recruiter .recruiter-profile{
	position: relative;
	margin: auto;
	max-width:75%;
	max-height: 256px;
	display: inline-block;
	margin-bottom: 16px;
}

.recruiters .recruiter .recruiter-rating{
	font-size: 20px;
	color: #144866;
	text-align: center;
	display: -ms-flex;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
	margin: 8px 12px;
}
@media( max-width: 768px ) {
	.recruiters .recruiter .recruiter-rating{
		justify-content: space-evenly;
	}
}

.recruiters .recruiter .recruiter-rating span.rating{
	
}

.recruiters .recruiter .recruiter-profile::after{
	content: '';
	clear: both;
	display: block;
}
.recruiters .card.recruiter .card-body{
	font-size: 80%;
}

.color-theme1 {
	color: #353638;
}
.color-theme2 {
	color: #be9198;
}
.color-themeblack{
	color: #0d0d0d;
}
.color-themewhite{
	color: #e0e0e0;
}

.bg-theme1 {
	background-color: #ffffff;
}
.bg-theme2 {
	background-color: #fce4e7;
}
.bg-blue {
	background-color: #3600d9;
}
.bg-navy {
	background-color: navy;
}
.bg-red {
	background-color: #ff0000;
}
.bg-gray {
	background-color: #dddddd;
}
.bg-yellow {
	background-color: #ffff00;
}
.bg-orange {
	background-color: orange;
}
.bg-violet {
	background-color: #b300b3;
}
.bg-indigo {
	background-color: #99ffe5;
}
.bg-green {
	background-color: #2db300;
}


.btn-outline-theme1{
	border: 2px solid #d5b2b6;
	color: #d5b2b6;
}
.btn-outline-theme1:hover,
.btn-outline-theme1:focus{
	background-color: #d5b2b6;
	color: #fff;
}

.btn-outline-theme2{
	border: 2px solid #727272;
	color: #727272;
}
.btn-outline-theme2:hover,
.btn-outline-theme2:focus{
	background-color: #727272;
	color: #fff;
}
.fix-width-200{
	width: 200px;
}

.btn-outline-theme2:focus{
	background-color: #89a3b2;
}

.btn-outline-theme2{
	border: 2px solid #f7931e;
	color: #f7931e;
}

.btn-outline-theme2:hover,
.btn-outline-theme2:focus{
	background-color: #f7931e;
}



.btn-theme1 {
	color: #fff;
	background-color: #144866;
	border-color: #144866;
}

.btn-theme1:hover {
	color: #fff;
	background-color: #18577b;
	border-color: #18577b;
}

.btn-theme1:focus, .btn-theme1.focus {
	color: #fff;
	background-color: #1c6691;
	border-color: #1c6691;
	box-shadow: 0 0 0 0.2rem rgba(28, 102, 145, 0.5);
}

.btn-theme1.disabled, .btn-theme1:disabled {
	color: #fff;
	background-color: #103951;
	border-color: #103951;
}

.btn-theme1:not(:disabled):not(.disabled):active, .btn-theme1:not(:disabled):not(.disabled).active,
.show > .btn-theme1.dropdown-toggle {
	color: #fff;
	background-color: #084c72;
	border-color: #084c72;
}

.btn-theme1:not(:disabled):not(.disabled):active:focus, .btn-theme1:not(:disabled):not(.disabled).active:focus,
.show > .btn-theme1.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(28, 102, 145, 0.5);
}

.btn-theme2 {
	color: #fff;
	background-color: #f7931e;
	border-color: #f7931e;
}

.btn-theme2:hover {
	color: #fff;
	background-color: #f9ab4f;
	border-color: #f9ab4f;
}

.btn-theme2:focus, .btn-theme2.focus {
	color: #fff;
	background-color: #fab786;
	border-color: #fab786;
	box-shadow: 0 0 0 0.2rem rgba(249, 171, 79, 0.5);
}

.btn-theme2.disabled, .btn-theme2:disabled {
	color: #fff;
	background-color: #462703;
	border-color: #462703;
}

.btn-theme2:not(:disabled):not(.disabled):active, .btn-theme2:not(:disabled):not(.disabled).active,
.show > .btn-theme2.dropdown-toggle {
	color: #fff;
	background-color: #f7931e;
	border-color: #f7931e;
}

.btn-theme2:not(:disabled):not(.disabled):active:focus, .btn-theme2:not(:disabled):not(.disabled).active:focus,
.show > .btn-theme2.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(249, 171, 79, 0.5);
}



.footer{
	background-color: #ffffff;
	max-width: 100%;
	padding: 0px;
	margin: 0px;
}

.footer .link-header{
	font-size: 100%;
}
.footer ul li .item-link{
	font-size: 90%;
}
.bullet-link a{
	font-size: 80%;
	color: #fff;
	text-decoration: none;
	border-left: 2px solid #fff;
	padding: 4px 16px;
}
.bullet-link a:first-child{
	border-left: none;
}
.bullet-link a:hover,
.bullet-link a:focus{
	color: #333;
	border-color: #ddd;
}

.web-copyright{
	transition: 0.3s;
}

.web-copyright .copyright-text{
	display: inline-block;
	font-size: 80%;
	color: #333;
	transition: 0.3s;
}

.color-bar .col-3,
.color-bar .col-6{
	height: 6px;
	padding: 0px;
}

@media( min-width: 768px ) {
	.color-bar .col-3,
	.color-bar .col-6{
		height: 12px;
	}
}

.color-bar .col-3{
	background-color: #f7931e;
}
.color-bar .col-6{
	background-color: #144866;
}
.small-panel{
	padding: 6em 0.8em;
	text-align: center;
}
.small-panel .top-panel{
	/*
	padding: 4em 2em;
	margin-bottom: 4em;
	*/
}

.small-panel .body-panel{
	width: 100%;
	padding: 8px;
}

.small-panel .body-panel .hr-theme2{
	border-top: 2px solid #f7931e;
}

.custom-progress-holder .progress{
	height: 8px;
	border-radius: 0px;
}

@media( min-width: 768px ) {
	.small-panel .body-panel{
		width: 66.66%;
	}
}

.password-reset-form .custom-password-field-holder{
	padding: 0px !important;
}

.password-reset-form .custom-password-field,
.password-reset-form .custom-password-field:hover,
.password-reset-form .custom-password-field:focus{
	outline: 0px !important;
	border: 0px !important;
	margin: 0px !important;
}

.password-reset-form .custom-password-field-holder span.custom-password-shower{
	padding: 8px;
	font-size: 80%;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	color: #22b3ef;
}
.password-reset-form .cancel-link {
	color: #22b3ef;
}

/*New styles */

.site-heading {
	letter-spacing: 4px;
}

.page_1 .hero-landing{
	background-image: url('../images/bgflower.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.page_1 .hero-landing .hero-text {
	background: rgba(213, 130, 150, 0.8);
	font-weight: bold;
}

.bg-size-cover{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bg-week_1{background-image: url('../images/week_1.jpg');}
.bg-week_2{background-image: url('../images/week_2.jpg');}
.bg-week_3{background-image: url('../images/week_3.jpg');}
.bg-week_4{background-image: url('../images/week_4.jpg');}
.bg-week_5{background-image: url('../images/week_5.jpg');}
.bg-week_6{background-image: url('../images/week_6.jpg');}
.bg-week_7{background-image: url('../images/week_7.jpg');}
.bg-week_8{background-image: url('../images/week_8.jpg');}
.bg-week_9{background-image: url('../images/week_9.jpg');}
.bg-week_10{background-image: url('../images/week_10.jpg');}
.bg-week_11{background-image: url('../images/week_11.jpg');}
.bg-week_12{background-image: url('../images/week_12.jpg');}
.bg-week_13{background-image: url('../images/week_12.jpg');}
.bg-week_14{background-image: url('../images/week_13.jpg');}
.bg-week_15{background-image: url('../images/week_14.jpg');}
.bg-week_16{background-image: url('../images/week_15.jpg');}
.bg-week_17{background-image: url('../images/week_16.jpg');}

.featured-panel .row .bg-size-cover a{
	display: block;
	background: rgba(255,255,255,0.6);
	text-decoration: none;
	width: 100%;
	height: 100%;
}