#skyline{
	position: relative;
	padding-top: 5vh;
	width:100%;
	height: 10vh;
	/*height: 100px !important;*/
	background: red;
	/*padding-bottom: 100%;*/
}

.viewer {

/*	height: 100px;
	width: 500%;*/
  /*display:inline-block;*/

} 