

#content {


}

.pics{
	max-width: 40%;
}
.openprocess{
	max-width: 100%;
	max-height: 100%;
}

p {

	color: black !important; 
	font-family: 'VT323', monospace;
}
@keyframes bgcolor {
    0% {
        background-color: #45a3e5
    }

    30% {
        background-color: #66bf39
    }

    60% {
        background-color: #eb670f
    }

    90% {
        background-color: #f35
    }

    100% {
        background-color: #864cbf
    }
}

body {
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
aside  {
  width: 30%;
  padding-left: 20px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  background-color: lightgray;
}





 	.dot {
  height: 120px;
  width: 120px;
  background-color: rgba(255,255,255,0.5);
  border-radius: 50%;
  display: inline-block;
  border-bottom-style: dotted;
  border-style: groove;
  border-left-color: blue;
  border-top-color: green;
  border-right-color: yellow;
}
.dotMaster {
  height: 100px;
  width: 150px;
  background-color: transparent;
  border-radius: 50%;
  display: inline-block;
  border-bottom-style: solid;
}

 

.rectangle {
  height: 70px;
  width: 130px;
  background-color: rgb(110,0,0);

}

.rectangleHome {
  text-align: center;
  height: 25px;
  width: 50px;
  stroke: rgb(255,0,255);
  background-color: rgb(0,0,25);

}
	.Homepage{

 		background-color: rgb(110,0,0);
 		color: white;
 		border: 2px solid black;
  		margin: 20px;
  		padding: 20px;

}
 	.name{


 		background-color: green;
 		color: white;
 		border: 2px solid black;
  		margin: 20px;
  		padding: 10px;
}
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body { 
            display: flex; 
            justify-content: center; 
            align-items: center; 
            min-height: 100vh; 
            background-color: rgb(6, 75, 21); 
        } 
.wavy { 
            position: relative; 
        } 
  
        .wavy span { 
            position: relative; 
            display: inline-block; 
            color: black; 
            font-size: 2em; 
            text-transform: uppercase; 
            animation: animate 2s ease-in-out infinite; 
            animation-delay: calc(0.1s * var(--i)); 
        } 
  
        @keyframes animate { 
            0% { 
                transform: translateY(0px); 
            } 
  
            20% { 
                transform: translateY(-20px); 
            } 
  
            40%, 
            100% { 
                transform: translateY(0px); 
            } 
        } 

</style>
.dropbtn {
	background-color: navy;
	color: white;
	font-family: 'VT323', monospace;
	padding: 5px;
	font-size: 20px;
	border: none;
	cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
	background-color: yellow;
	color: black;
  }
  
  .dropdown {
	position: relative;
	display: inline-block;
	padding: 15px
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #d3d3d3;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	font-family: 'helvatica', monospace;
  }
  
  .dropdown-content a:hover {
	background-color: #e35f5f;
	color: white;
	}
  
  .show {
	  display:block;
	}

  .projectdrop {
	  position: absolute;
	  right: 230px;
	  top: 135px;
  }


  .align{
  	  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
  }
</head>
