<!-- HTML Example -->
<!DOCTYPE html>

<html>

<head>

	<title> Introduction </title>

	<!-- load processing files  -->
	<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/p5.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/addons/p5.dom.min.js"></script> -->

	<!-- load CSS -->
	<link rel="stylesheet" type="text/css" href="style.css"> 

</head>

<body>

	<div id="content">

		<h1> MuW201 Tangible Computing </h1>

		<hr>

		<h2> Firstname_Lastname</h3>
	
		<p> Short bio, 200 words </p>
		<br>

		<h3> Contents </h3>

		<ul>
			<p><a href="week_01.html"> Week 1 </a></p>

		</ul>

		

	</div>


</body>

</html>