/* div class based on id */

#content {

	font-family: 'arial';
	padding: 5%;

}

<<<<<<< HEAD

=======
.frame{
margin-left: 200px;
}
>>>>>>> 34d9b4b7ebb1a40a4df7201f2c899b80bde0598c
p {

	color: #000 !important; 

<<<<<<< HEAD
}
=======
}

.bb{
	font-size: 30;
	font-weight: 100;
  }
  .header{
	  font-family: 'Alice', serif;
	  padding-left: 30%;
	  align-items: center;
	  font-size: xx-large;
	  font-weight: 100;
  
  }
  
  .subhead{
	  font-family: 'Lato', sans-serif;
	  padding-left: 32%;
	  font-size: xx-large;
	  color: white;
  }
  .body{
	background-color: black;
	color: white;
  }
  .bg{
	z-index: -1;
	
	background-attachment: fixed;
	background-image: url("https://c4.wallpaperflare.com/wallpaper/808/71/817/1980s-neon-new-retro-wave-palm-trees-wallpaper-preview.jpg");
	background-repeat: no-repeat;
	background-size: cover;
    color: white;
  }
  .content{
	
	font-family: 'arial';
	padding-top: 5%;
	padding-left:2%;
	padding-right:3%;
	padding-bottom:3%;
   
  
  }
  .weeks{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 10px;
	border-width: 10;
  }
  .dot1{
	height: 122px;
	width: 150px;
	background-color: rgb(48, 147, 177);
	border-radius: 50%;
	display: inline-table;
	text-align: center;
	padding-top: 20px;
	margin-left: 10%;
	margin-top: 5%;
  }
  .dot2{
	height: 122px;
	width: 150px;
	background-color: red;
	border-radius: 50%;
	display: inline-table;
	text-align: center;
	padding-top: 20px;
	margin-left: 10%;
	margin-top: 5%;
  }
  .ss{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 10px;
	border-width: 10;
	background-color: rgb(0, 89, 255);
	text-align: center;
	
  }
  
  .bio{
	border-radius: 10;
	background-color: rgb(163, 42, 233,0.8);
	/*padding-left: 10%;
	padding-right: 10%;*/
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%;
	margin-bottom: 5%;
  }
  .bio-2{
  
	border-radius: 10;
	background-color: rgb(163, 42, 233,0.8);
	/*padding-left: 10%;
	padding-right: 10%;*/
	margin-left: 5%;
	margin-right: 70%;
	margin-top: 5%;
	margin-bottom: 5%;
	z-index: -2;
  }
  .bio-3{
  
	border-radius: 10;
	background-color: rgb(163, 42, 233,0.8);
	/*padding-left: 10%;
	padding-right: 10%;*/
	margin-left: 50%;
	margin-right: 5%;
	margin-top: 5%;
	z-index: -1;
  }
>>>>>>> 34d9b4b7ebb1a40a4df7201f2c899b80bde0598c
