
#title{


		/*font-family: 'helvetica';*/
	/*position: absolute;*/
	padding-top: 5vh;
	font-size: 1vh;
	width: 100%;
	align-items: center !important;
	text-align: center;
	color: #fff !important; 	

}
body {
  background-color: #000;
}